.food__menu-container {
	height: 1000px;
	width: 1000px;
	max-width: 1000px;
	background: white;
	margin-top: 5rem;
	padding-bottom: 3rem;
	border-radius: 6px;
	position: absolute;
	z-index: 200;
	cursor: pointer;
}

.food__menu-header {
	display: flex;
	align-items: center;
	justify-content: center;
	top: fixed;
	top: 0;
	left: 0;
	background-color: #e47a2e;
	height: 5rem;
}

.food__menu-header h1 {
	color: white;
}

.grid__container {
	height: 80%;
	margin: 2rem 2rem;
	overflow: hidden;
	overflow: scroll;
	scrollbar-width: none;
}

.grid__container::-webkit-scrollbar {
	display: none;
}

.grid {
	display: grid;
	grid-gap: 1rem;
	padding: 3rem 3rem;
	grid-template-columns: repeat(auto-fit, minmax(180.75px, 1fr));
	/* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
	/* grid-template-rows: minmax(100px, 1fr); */
}

.item {
}

.item__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 13rem;
	width: 16.8rem;
	background: #fff;
	border: #ccc 1px solid;
}

.item__footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 5rem;
	width: 16.8rem;
	background: #fff;
	border: #ccc 1px solid;
}

.item__img {
	width: 175px;
	height: 175px;
	object-fit: cover;
}

@media screen and (max-width: 1055px), screen and (max-height: 1135px) {
	.food__menu-container {
		width: 95%;
		height: 85%;
	}
}

@media screen and (max-height: 700px) {
	.food__menu-container {
		height: 83%;
	}
}

@media screen and (max-height: 575px) {
	.food__menu-container {
		height: 78%;
	}
}

@media (max-width: 1055px) {
	.item__header,
	.item__footer {
		width: 90%;
	}

	.item__img {
		width: 150px;
		height: 150px;
		object-fit: cover;
	}
}

@media (max-width: 300px) {
	.item__header,
	.item__footer {
		width: 100%;
	}

	.item__header {
		height: 10rem;
	}

	.item__footer {
		height: 3rem;
	}

	.item__img {
		width: 125px;
		height: 125px;
		object-fit: cover;
	}

	.grid {
		padding: 1rem 1rem;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}
}
